@using FurnitureStore.Models
@model FurnitureStore.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Promena lozinke";
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-7 mx-auto">
                @Html.AntiForgeryToken()
                <hr />
                <h3 class="bg-dark text-center py-2 page-title text-light">Promeni lozinku</h3>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "control-label d-block p-2 font-weight-bold", style = "background:#C6D2DE" })
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.OldPassword)

                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "control-label d-block p-2 font-weight-bold", style = "background:#C6D2DE" })
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label d-block p-2 font-weight-bold", style = "background:#C6D2DE" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
                <div class="form-group">
                    <input type="submit" value="Promeni lozinku" class="btn btn-primary mr-2" />

                    @if (ViewContext.HttpContext.User.IsInRole(RoleName.Admin))
                    {
                        @Html.ActionLink("Vrati se na Dashboard", "Index", "Products", null, new { @class = "btn btn-warning" })
                    }
                </div>
                <hr />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}