@model FurnitureStore.Models.IndexViewModel
@{
    ViewBag.Title = "Nalog";
}

<div class="container my-5">
    <hr />
    <div class="row" id="messageBox">
        <div class="col">
            <h2 id="messageTitle" class="w-100 bg-warning text-light text-center">@TempData["Message"]</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="bg-dark text-center py-2 page-title text-light">Podaci </h3>
            <hr />
            <h4 class="p-2 font-weight-bold" style="background:#C6D2DE">
                Korisničko ime:
                <span class="font-weight-light">@Model.User.UserName</span>
            </h4>
            <h4 class="p-2 font-weight-bold" style="background:#C6D2DE">
                Ime:
                <span class="font-weight-light">@Model.User.Name</span>
            </h4>
            <h4 class="p-2 font-weight-bold" style="background:#C6D2DE">
                Prezime:
                <span class="font-weight-light">@Model.User.Surname</span>
            </h4>
            <h4 class="p-2 font-weight-bold" style="background:#C6D2DE">
                Email:
                <span class="font-weight-light">@Model.User.Email</span>
            </h4>
            <h4 class="p-2 font-weight-bold" style="background:#C6D2DE">
                Adresa:
                <span class="font-weight-light">
                    @Model.UserAddress.StreetName
                </span>
            </h4>
            <div class="p-2" style="background:#C6D2DE;margin-bottom:0.5rem">
                <h4 class="font-weight-bold">Lozinka:</h4>
                <div style="color:#dd2559">
                    [
                    @Html.ActionLink("Promeni lozinku", "ChangePassword", null, new { @class = "", style = "color:#dd2559;font-size:1rem;" })
                    ]
                </div>
            </div>
        </div>
        <div class="col h-100">
            <h3 class="bg-dark text-center py-2 page-title text-light">Računi</h3>
            <hr />
            <div class="d-flex justify-content-between flex-wrap">
                @foreach (var bill in Model.User.Bills)
                {
                    <h4 class="p-2 font-weight-bold" style="background:#C6D2DE;display:inline-block">
                        <button class="btn btn-primary" style="font-size: 0.8rem" onclick='getBill("@Url.Action("GetBill", "Bills")"+"/@bill.Id")'>@bill.PurchaseDate.ToString("dd/MM/yyyy")</button>
                        @*@Html.ActionLink(@bill.PurchaseDate.ToString("dd/MM/yyyy"), "GetBill", "Bills", new { id = bill.Id }, new { @class = "btn btn-primary", style = "font-size: 0.8rem", onclick = "getBill(this)" })*@
                    </h4>
                }

                <div class="w-100" id="billReport" style="background:#C6D2DE;min-height:100%;"></div>
            </div>
        </div>
    </div>
    <hr />
</div>

<script>
    function getBill(url) {
        $.post(url).done(function (response) {

            $("#billReport").html(response);
            $("#billReport").show();
        });
    }

    function closeBillWindow() {

        $("#billReport").hide();
    }
</script>