@model FurnitureStore.ViewModels.ProductTypeFormViewModel
@{
    Layout = null;
}

@using (Html.BeginForm("AddOrEdit", "ProductTypes", FormMethod.Post, new { onsubmit = "return submitForm(this)" }))
{
    @Html.HiddenFor(model => model.Id)
    @Html.AntiForgeryToken()
    <div class="form-group" id="typeNameGroup">
        @Html.LabelFor(model => model.TypeName, new { @class = "control-label" })
        @Html.EditorFor(model => model.TypeName, new { htmlAttributes = new { @class = "form-control", @id = "typeName", placeholder = "Naziv kategorije" } })
        @Html.ValidationMessageFor(model => model.TypeName)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, new { @class = "control-label" })
        @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control", size = "5", @id = "description", placeholder = "Opis kategorije" } )
        @Html.ValidationMessageFor(model => model.Description)
    </div>
    <hr />
    <div class="form-group d-flex justify-content-around mt-4">
        <input type="submit" class="btn btn-success" value="Sačuvaj" />
        <input type="reset" class="btn btn-outline-secondary" value="Poništi" />
    </div>
}
