<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SOFA</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="text-primary bg-light">
    @Html.Partial("_NavBar")
    <main class="container-fluid p-0 border-0 position-relative">
        @RenderBody()
    </main>
    <footer class="fixed-bottom text-center bg-primary">
        <p class="text-white m-0">&copy; @DateTime.Now.Year - Sofa</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        //#region Skripta za SideNavbar
        $(document).ready(function () {
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
                $("#btn-close").attr("hidden", false);
            });
            $("#btn-close").click(function () {
                $("#wrapper").toggleClass("toggled");
                $("#btn-close").attr("hidden", true);
            })
        });
        //#endregion
    </script>
</body>
</html>