@using Microsoft.AspNet.Identity
@using FurnitureStore.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right w-100" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right d-flex justify-content-end">
            @if (User.Identity.IsAuthenticated && !ViewContext.HttpContext.User.IsInRole(RoleName.Admin))
            {
                @Html.Partial("_ShoppingCart")
                <li class="d-flex align-items-center">
                    <a class="nav-link" href="/Manage/Index">
                        <svg height="30px" fill="#fff" viewBox="0 0 512 512" width="30px" xmlns="http://www.w3.org/2000/svg"><path d="m437.019531 74.980469c-48.351562-48.351563-112.640625-74.980469-181.019531-74.980469-68.382812 0-132.667969 26.628906-181.019531 74.980469-48.351563 48.351562-74.980469 112.636719-74.980469 181.019531 0 68.378906 26.628906 132.667969 74.980469 181.019531 48.351562 48.351563 112.636719 74.980469 181.019531 74.980469 68.378906 0 132.667969-26.628906 181.019531-74.980469 48.351563-48.351562 74.980469-112.640625 74.980469-181.019531 0-68.382812-26.628906-132.667969-74.980469-181.019531zm-308.679687 367.40625c10.707031-61.648438 64.128906-107.121094 127.660156-107.121094 63.535156 0 116.953125 45.472656 127.660156 107.121094-36.347656 24.972656-80.324218 39.613281-127.660156 39.613281s-91.3125-14.640625-127.660156-39.613281zm46.261718-218.519531c0-44.886719 36.515626-81.398438 81.398438-81.398438s81.398438 36.515625 81.398438 81.398438c0 44.882812-36.515626 81.398437-81.398438 81.398437s-81.398438-36.515625-81.398438-81.398437zm235.042969 197.710937c-8.074219-28.699219-24.109375-54.738281-46.585937-75.078125-13.789063-12.480469-29.484375-22.328125-46.359375-29.269531 30.5-19.894531 50.703125-54.3125 50.703125-93.363281 0-61.425782-49.976563-111.398438-111.402344-111.398438s-111.398438 49.972656-111.398438 111.398438c0 39.050781 20.203126 73.46875 50.699219 93.363281-16.871093 6.941406-32.570312 16.785156-46.359375 29.265625-22.472656 20.339844-38.511718 46.378906-46.585937 75.078125-44.472657-41.300781-72.355469-100.238281-72.355469-165.574219 0-124.617188 101.382812-226 226-226s226 101.382812 226 226c0 65.339844-27.882812 124.277344-72.355469 165.578125zm0 0" /></svg>
                        <span class="text-success m-1 font-italic" style="font-size:0.8rem;">MOJ NALOG@*@User.Identity.GetUserName().ToUpper()*@</span>
                        @*@Html.ActionLink(User.Identity.GetUserName().ToUpper(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })*@
                    </a>
                </li>
            }
            else if (ViewContext.HttpContext.User.IsInRole(RoleName.Admin))
            {
                <li>
                    @Html.ActionLink("Promeni lozinku", "ChangePassword", "Manage", null, new { @class = "btn btn-success m-2" })
                </li>
            }
            <li><a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-info m-2">Odjavi se</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right w-100 d-flex justify-content-end">
        <li>@Html.ActionLink("Registruj se", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-outline-success m-2" })</li>
        <li>@Html.ActionLink("Prijavi se", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-outline-info m-2" })</li>
    </ul>
}

