<div class="" id="wrapper">
    <div class="text-white bg-primary" id="sidebar-wrapper">
        <div id="btn-close">&times;</div>
        <h2 class="sidebar-heading">MENI</h2>
        <div class="list-group list-group-flush">
            @Html.ActionLink("Korisnici", "Index", "Users", null, new { @class = "list-group-item list-group-item-action bg-dark font-weight-normal text-white" })
            @Html.ActionLink("Saloni", "Index", "Shops", null, new { @class = "list-group-item list-group-item-action bg-dark font-weight-normal text-white" })
            @Html.ActionLink("Kategorije", "Index", "ProductTypes", null, new { @class = "list-group-item list-group-item-action bg-dark font-weight-normal text-white" })
            @Html.ActionLink("Nameštaj", "Index", "Products", null, new { @class = "list-group-item list-group-item-action bg-dark font-weight-normal text-white" })
            @Html.ActionLink("Računi", "Index", "Home", null, new { @class = "list-group-item list-group-item-action bg-dark font-weight-normal text-white" })
            @Html.ActionLink("Izveštaj", "Index", "Home", null, new { @class = "list-group-item list-group-item-action bg-dark font-weight-normal text-white" })
        </div>
    </div>
</div>

<button class="btn btn-secondary align-self-start my-3" id="menu-toggle">MENI</button>
